html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #352a2a;
  color: white;

  width: 100vw;
  height: 100vh;  
}

