.navbar {
  display: flex;
  align-items: center;
  background-color: #743e3e;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}
.navbar-logo:hover {
  color: #ff0019;   
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-left: auto; 
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #ff0019;
}
